html, body, #pietApp, #pietAppContainer {
  height: 100%;
}

#pietAppContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#pietHeader,
#pietFooter {
  height: 60px;
  background-color: #3498db;
}

#contentContainer {
  display: flex;
  flex: 1;
  padding: 10px;
  background-color: #eeeeee;
}

.toolContainer {
  width: 200px;
}

.boardProperties {
  padding: 10px;
  border-radius: 10px;
  background-color: #dddddd;
}

.boardResizer {
  display: flex;
}

.boardResizer .label {
  flex: 1;
  font-family: sans-serif;
  font-size: 16px;
  color: #444444;
  line-height: 30px;
  text-align: left;
}

.boardResizer button,
.boardResizer button:focus {
  background-color: #2ecc71;
  border: none;
  outline: none;
}

.boardResizer button:hover {
  background-color: #2eac51;
}

.boardContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #dddddd;
}

.boardContainer .boardRow {
  display: flex;
  flex: 1;
}

.boardContainer .boardColumn {
  flex: 1;
  border-style: solid;
  border-color: #dddddd;
  border-width: 0px 1px 1px 0px;
}
