html, body, #pietApp, #pietAppContainer {
  height: 100%;
}

#pietAppContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#pietHeader,
#pietFooter {
  height: 60px;
  background-color: #3498db;
}

#contentContainer {
  display: flex;
  flex: 1;
  padding: 10px;
  background-color: #eeeeee;
}

.toolContainer {
  width: 200px;
}

.colorChooser,
.boardProperties {
  padding: 10px;
  border-radius: 10px;
  background-color: #dddddd;
  margin-bottom: 10px;
}

.boardResizer {
  display: flex;
}

.boardResizer .label {
  flex: 1;
  font-family: sans-serif;
  font-size: 16px;
  color: #444444;
  line-height: 30px;
  text-align: left;
}

.boardResizer button,
.boardResizer button:focus {
  background-color: #2ecc71;
  border: none;
  outline: none;
}

.boardResizer button:hover {
  background-color: #2eac51;
}

.colorChooser {
  display: flex;
  flex-flow: row wrap;
}

.colorChooser div {
  flex: 16%;
  height: 30px;
}

.colorChooser div:hover {
  border-radius: 10px;
  transition: border-radius 0.5s;
}

.selectedColor::before {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin: auto;
  margin-top: 10px;
  background-color: black;
}

.colorChooser .colorLRed {background-color: #f76C5C;}
.colorChooser .colorLYellow {background-color: #f1e42f;}
.colorChooser .colorLGreen {background-color: #4eec91;}
.colorChooser .colorLCyan {background-color: #3adcbc;}
.colorChooser .colorLBlue {background-color: #54b8eb;}
.colorChooser .colorLMagenta {background-color: #bb79d6;}
.colorChooser .colorNRed {background-color: #e74c3c;}
.colorChooser .colorNYellow {background-color: #f1c40f;}
.colorChooser .colorNGreen {background-color: #2ecc71;}
.colorChooser .colorNCyan {background-color: #1abc9c;}
.colorChooser .colorNBlue {background-color: #3498db;}
.colorChooser .colorNMagenta {background-color: #9b59b6;}
.colorChooser .colorDRed {background-color: #c72c1c;}
.colorChooser .colorDYellow {background-color: #d1a40f;}
.colorChooser .colorDGreen {background-color: #0eac51;}
.colorChooser .colorDCyan {background-color: #0a9c7c;}
.colorChooser .colorDBlue {background-color: #1478bb;}
.colorChooser .colorDMagenta {background-color: #7b3996;}
.colorChooser .colorNWhite {background-color: #eeeeee;}
.colorChooser .colorNBlack {background-color: #2C3E50;}

.boardContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #dddddd;
}

.boardContainer .boardRow {
  display: flex;
  flex: 1;
}

.boardContainer .boardColumn {
  flex: 1;
  border-style: solid;
  border-color: #dddddd;
  border-width: 0px 1px 1px 0px;
}
